

  <h1>Log In Here!</h1>

<form [formGroup]="loginForm" (ngSubmit)="login()">
  <p>
  <mat-form-field>
  Email: <input formControlName="email" required matInput>
  </mat-form-field>
  </p>

  <p>
  <mat-form-field>
  Password: <input formControlName="password" required matInput>
  </mat-form-field>
  </p>

  <button type="submit" mat-raised-button> Login </button>
</form>

<br>
<h3> Log in with Google?</h3>


<button type="click" (click)="googleLogin()"> Log in with google here </button>




<div id="g_id_onload"
     data-client_id="608232592021-2cd2cic956cj2buuh7iig4hq7q1b7925.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-login_uri="localhost:8080/api/auth/login"
     data-auto_prompt="false">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="outline"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div>



